[submodule "plugins/catppuccin/tmux"]
	path = plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
	branch = v2.1.2
[submodule "plugins/tpm"]
	path = plugins/tpm
	url = https://github.com/tmux-plugins/tpm
